* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navigation CSS */

.logo img {
  height: 45px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 80px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.3s;
}

.common-register-btn {
  font-family: sans-serif;
  background: #2d5bff;
  color: #fff;
  padding: 14px 34px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.common-register-btn:hover {
  background: #1d49d8;
  transition: 0.3s;
}

/* Hero Section CSS */

.hero {
  height: 800px;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  max-width: 900px;
  color: #fff;
  padding: 20px;
}

.hero-content h1 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 750;
  margin-bottom: 30px;
}
.hero-title {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.hero-content p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: 1.2;
  margin-bottom: 300px;
}

.hero-btn {
  display: inline-block;
  background: #2f5bff;
  color: #fff;
  text-decoration: none;
  padding: 18px 55px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s;
}

.hero-content .common-register-btn {
  font-size: 22px;
  padding: 18px 55px;
  border-radius: 10px;
  font-weight: 600;
}

.hero-btn:hover {
  background: #2148d8;
}

/* Speaker Portion CSS */

.speaker h2 {
  margin-top: 60px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.speakers {
  padding: 100px 80px;
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.speaker-grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.speaker-card {
  font-family: "Inter", sans-serif;
  background: #f0ebeb;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
}

.speaker-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.speaker-info {
  padding: 20px;
}

.category {
  font-family: "Inter", sans-serif;
  display: block;
  color: blue;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

div p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #292828;
  line-height: 1.5;
}

/* Pricing Section CSS */

.pricing {
  margin-top: 100px;
  padding: 100px 80px;
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.pricing h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
}

.pricing p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.pricing-subtitle {
  text-align: center;
  color: #777;
  font-size: 18px;
  margin-bottom: 60px;
}

.price-card.featured {
  border: 1px solid #e6e6e6;
  border-radius: 18px;
  padding: 30px;
}
.price-card {
  border: 1px solid #d6d1d1;
  border-radius: 14px;
  padding: 30px;
  border-color: #bdbaba;
}

.featured {
  background: #101c2b;
  color: white;
}

.plan {
  font-size: 14px;
  font-weight: 700;
  color: #888;
}

.featured .plan {
  color: blue;
}

.price-card h3 {
  font-size: 58px;
  margin: 10px 0;
}

.price-text {
  color: #888;
  margin-bottom:15px;
}

.price-card hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #e4e4e4;
}

.featured hr {
  border-color: #243447;
}

.price-card ul {
  list-style: disc;
  margin-bottom: 35px;
  padding-left: 20px;
}

.price-card li {
  margin-bottom: 18px;
  position: relative;
  padding-left: 18px;
}

.outline-btn {
  display: block;
  text-align: center;
  padding: 15px;
  border: 2px solid #2d5bff;
  border-radius: 10px;
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

.filled-btn {
  display: block;
  text-align: center;
  padding: 15px;
  background: blue;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
}

.dark {
  border-color: #101c2b;
  color: #101c2b;
}

/* Subscription CSS */

.subscription {
    margin-top: 100px;
    padding: 80px;
    background: linear-gradient(90deg, #2D5BFF, #0F2C7A);
}
.subscribe .container{
    max-width:1200px;
    margin:auto;
}

.subscription .container {
    max-width: 1200px;
    margin: 0 auto;
}

.subscription h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.subscription p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
    width: 800px;
}

.subscription-form {
    display: flex;
    gap: 20px;
    
}

.subscription-form input {
    display :flex;
    min-width: 280px;
    padding: 18px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(204, 198, 198, 0.12);
    color: #fff;
    font-size: 16px;
    outline: none;
}

.subscription-form input::placeholder {
    color:white;

}

.subscription-form button {
    padding: 18px 35px;
    border: none;
    border-radius: 8px;
    background: blue;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.subscription-form button:hover {
    background: rgb(45, 45, 204);
}

/* Footer Section */

